<section class="home-container">
  <h2>Bem-vindo ao Dominus Spellorum</h2>
  <p>
    Domine os feitiços mais famosos do mundo mágico! Aqui você pode registrar os feitiços que aprendeu ou deseja aprender,
    adicionar comentários, e acompanhar sua evolução como bruxo.
  </p>

  <p>
    Nossa aplicação é protegida por magia. Só bruxos e bruxas autenticados podem acessar o grimório completo.
  </p>

  <a routerLink="/auth/register">
    <button class="cta-button">Começar agora</button>
  </a>
</section>
