*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}


body{
    background: url('./assets/background.jpg');
    font-family: 'Cormorant Garamond', serif;
    height: 100%;
    width: 100%;
}

h1, h2, h3 {
  font-family: 'Cinzel Decorative', serif;
}


